:root {
  --whitesmoke: #ececec;
  --whitesmokelite: #f8f8f8;
  --plum: #cfbaff;
  --gold: #fde24f;
  --black: #000000;
  --white: #ffffff;
  --deeppink: #ff24bd;
  --aquamarine: #00ebc7;
  --BrandeisBlue: #006bff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  & .link ul {
    display: flex;
    list-style: none;
  }
  & .link ul li {
    padding: 0 5px;
    text-transform: capitalize;
  }
  & .link ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
  }
  & .navmenu {
    display: inline-flex;
    align-items: center;
    & .login {
      margin: 0 5px;
      text-transform: capitalize;
      border-radius: 20px;
      border: none;
      padding: 3px 5px;
    }
    & .getstarted {
      margin: 0 5px;
      text-transform: capitalize;
      border-radius: 20px;
      border: none;
      padding: 3px 5px;
      background-color: var(--black);
      color: var(--white);
    }
  }
}
/* find section start  */
.find {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.findimage {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    display: block;
  }
}
.offer {
  position: absolute;
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px;
  & h1 {
    padding: 0 0 20px 0;
    text-transform: capitalize;
  }
}
.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.form select {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: var(--whitesmoke);
  padding: 5px;
  text-transform: capitalize;
}
.howmuch {
  grid-column: 1/4;
  & input {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: var(--whitesmoke);
    padding: 5px;
    text-transform: capitalize;
  }
}
.findoffer input {
  width: 100%;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  background-color: var(--aquamarine);
  padding: 5px;
  text-transform: capitalize;
}
.zappr1 {
  position: absolute;
  top: 80%;
  & a {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 4px 8px;
  }
}
/* buy/sell favorites section  */
.favorites {
  background-color: var(--gold);
  & h2 {
    padding: 50px 0;
  }
}
.fav-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  & img {
    padding: 20px 0;
    width: 40%;
  }
}
/* features about section start */
.features-head h2 {
  padding: 20px 0 30px 20px;
  text-align: left;
}
.features-description {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  & h3 {
    padding: 0 0 10px 0;
  }
  & p {
    padding-bottom: 20px;
  }
  & a {
    color: var(--black);
    font-weight: bold;
  }
}
.see-full {
  padding: 30px 0 20px 0;
  & button {
    border-radius: 10px;
  }
  & a {
    color: var(--black);
    padding: 10px;
    text-decoration: none;
  }
}
.hr hr {
  margin-top: 51%;
}
/* buy & sell section start */
.buy-sell {
  display: grid;
  grid-template-columns: 49.5% 1% 49.5%;
  background-color: var(--whitesmoke);
  & .vertical-line {
    border-left: 1px solid var(--black);
    height: auto;
  }
}
.buy {
  text-align: left;
  margin: 10% 0 0 10%;
}
.sell {
  text-align: left;
  margin: 10% 0 0 10%;
}
.buy-h2 {
  width: 70%;
  padding-bottom: 10px;
}
.sell-h2 {
  width: 70%;
  padding-bottom: 10px;
}
.zelle {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 70%;
  margin-bottom: 10px;
  & h6 {
    padding-left: 1vw;
  }
}
.paypal {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 70%;
  margin-bottom: 10px;
  & h6 {
    padding-left: 1vw;
  }
}
.wire {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 70%;
  margin-bottom: 10px;
  & h6 {
    padding-left: 1vw;
  }
}
.view {
  padding: 20px 0;
  width: 70%;
  text-align: center;
}
.view button {
  background-color: var(--black);
  color: var(--white);
  border-radius: 10px;
  border: none;
  padding: 4px 6px;
}
/* signup offer section start */
.signup {
  background-color: var(--plum);
  padding: 100px 0;
  & .p {
    font-size: 250%;
  }
  & button {
    margin: 40px 0 20px 0;
    border-radius: 20px;
    padding: 2px 8px;
    color: var(--white);
    background-color: var(--black);
    border: none;
    font-size: large;
  }
}
/* footer section start */
.footer {
  background-color: var(--black);
  color: var(--white);
  text-align: left;
  text-transform: capitalize;
  & h2 {
    padding: 20px 0;
  }
  & h4 {
    padding: 20px 0;
  }
  & ul {
    list-style: none;
  }
  & a {
    color: var(--white);
    text-decoration: none;
  }
}
.footer-link {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-bottom: 20px;
}
.footer-copy {
  padding: 20px 0;
  font-size: xx-small;
}

/* responsive for small device */
@media only screen and (max-width: 767px) {
  .link {
    display: none;
  }
  /* nav section end */
  .findimage img{
    height: 200px;
  } 
  .offer {
    padding: 5px;
    & h1 {
      font-size: large;
      padding: 0 0 5px 0;
    }
  }
  .form {
    display: block;
  }
  .form select {
    font-weight: lighter;
    padding: 0px;
  }
  .howmuch {
    & input {
      padding: 0px;
    }
  }
  .findoffer input {
    padding: 0px;
  }
  .zappr1 {
    display: none;
  }
  /* form section end */
  .favorites {
    & h2 {
      padding: 20px 0 30px 0;
    }
  }
  .fav-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    & img {
      padding: 0;
      width: 30%;
    }
  }
  /* favorites section end */
  .features-description {
    display: block;
  }
  .hr hr {
    margin-top: 5%;
  }
  /* features section end */
  .buy-sell {
    display: block;
    & .vertical-line {
      border: 1px dashed var(--black);
      width: 100%;
    }
  }
  .signup {
    padding: 0;
  }
  /* footer start */
  .footer {
    & h2 {
      padding: 10px 0;
    }
    & h4 {
      padding: 10px 0;
    }
  }

  .footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
  }
}

/* responsive for iphone 14 pro max */
@media only screen and (device-width: 430px) {
  .link {
    display: none;
  }
  /* nav section end */
  .findimage img{
    height: 200px;
  }
  .offer {
    padding: 5px;
    & h1 {
      font-size: large;
      padding: 0 0 5px 0;
    }
  }
  .form {
    display: block;
  }
  .form select {
    font-weight: lighter;
    padding: 0px;
  }
  .howmuch {
    & input {
      padding: 0px;
    }
  }
  .findoffer input {
    padding: 0px;
  }
  .zappr1 {
    display: none;
  }
  /* form section end */
  .favorites {
    & h2 {
      padding: 20px 0 30px 0;
    }
  }
  .fav-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    & img {
      padding: 0;
      width: 30%;
    }
  }
  /* favorites section end */
  .features-description {
    display: block;
  }
  .hr hr {
    margin-top: 5%;
  }
  /* features section end */
  .buy-sell {
    display: block;
    & .vertical-line {
      border: 1px dashed var(--black);
      width: 100%;
    }
  }
  .signup {
    padding: 0;
  }
  /* footer start */
  .footer {
    & h2 {
      padding: 10px 0;
    }
    & h4 {
      padding: 10px 0;
    }
  }

  .footer-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
  }
}

/* iphone 14 pro max end */
